@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-darkgray: #494949;
  --color-bg-lightgray: #fefefe;
  --color-primary-red: #ff685d;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #374151;
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .clippath-header {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 70% 100%, 0 87%);
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Dancing Script", cursive;
}

td,
th {
  text-align: center;
  padding-inline: 0.4rem;
  padding-block: 0.5rem;
  width: 25%;
  font-weight: 500;
}

@media screen and (max-width: 390px) {
  td,
  th {
    font-size: 11px;
  }
}

.start-date {
  /* clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 0 50%); */
  clip-path: circle(63.1% at 63% 50%);
  border: 1px solid var(--color-primary-red);
}
.end-date {
  clip-path: circle(63.1% at 37% 50%);
}
